<html>
<head>
    <title>www.csjk.medico.com</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navv.css')}}">
</head>



<!-- -------------------------------------------- -->

<div class="topnav">
    <a class="active" href="/logout_drug">Logout</a>
    <a href="/all_book_details">Entire books Details</a>
    <a class="active" href="/index">Home</a>
    
</div><br>


<div style="vertical-align:top;font-size:20px">
    <div style="color:black; text-align:right;">

       
        <img style="padding-right: 5px;
            height: 150px;
            object-fit: cover;
            border-radius: 50%;
        " src="/static/images/blue.jpg">

    </div>
</div>


<!-- --------------------------------------------- -->


<body style="background-color:#55d6c2">
    
    <marquee scrollamount="4" bgcolor="white" direction="up" hspace="500" behavior='slide' scrolldelay="">
    <h3><b><center>Add New Book</center></b></h3></marquee>


<br><br><br><br>
<fieldset style="background-color: white">
        <form action="/book_insert" method="post">

          <table border="1px">
            <tr>
                <td>Book Title</td>
                <td><input type="text" name="title" required></td>
            </tr>
            <tr>
                <td>Authors</td>
                <td><input type="text" name="authors" required></td>
            </tr>
            <tr>
                <td>Average Rating</td>
                <td><input type="number" step="0.01" name="average_rating" required></td>
            </tr>
            <tr>
                <td>ISBN</td>
                <td><input type="text" name="isbn" required></td>
            </tr>
            <tr>
                <td>ISBN-13</td>
                <td><input type="text" name="isbn13" required></td>
            </tr>
            <tr>
                <td>Language Code</td>
                <td><input type="text" name="language_code" required></td>
            </tr>
            <tr>
                <td>Number of Pages</td>
                <td><input type="number" name="num_pages" required></td>
            </tr>
            <tr>
                <td>Ratings Count</td>
                <td><input type="number" name="ratings_count" required></td>
            </tr>
            <tr>
                <td>Text Reviews Count</td>
                <td><input type="number" name="text_reviews_count" required></td>
            </tr>
            <tr>
                <td>Publication Date</td>
                <td><input type="date" name="publication_date" required></td>
            </tr>
            <tr>
                <td>Publisher</td>
                <td><input type="text" name="publisher" required></td>
            </tr>

            
            
            
        </table>
<br>
        <input type="submit" value="Save">
            <input type="reset" value="Clear">

        </form>
        <tr>
                
            
        </tr>
             
    </fieldset>
</body>



</html>