
<html>
    <head>
        <title>www.csjk.medico.com</title>   
    </head>


<!-- ------------------------------- -->
<br>
<h3><pre><i>>> This is a web based Application to store Data in Database.</i></pre></h3>
<h3><pre><i>>> To use this App please Follow the instruction below &#8595 &#8595 &#8595</i></pre></h3>

<br>
<center><b style="color:#8A0707;"><h3>[click on the</b> <u style="color:navy;">Library App Logo</u> <b style="color:#8A0707;">that will act as Button]</b></center>


<!-- ---------------------------- -->
    
<br>
<!-- <center> -->
<body style="background-color:#48BF91"> 
    
        
      


        <pre><h1><b><center><button style='height:30px'><a href="/user_login">Library App</a></button></center></b></h1></pre>

        

        <!-- ------------------------------------- -->


        
</body>
<!-- </center> -->

    


        
</html>
