<html>
<head>
    <title>www.csjk.medico.com</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navv.css')}}">
</head>

<!-- -------------------------------------------- -->

<div class="topnav">
    <a class="active" href="/logout_drug">Logout</a>
    <a href="/all_book_details">Entire books Details</a>
    <a href="/drug_availability">Availability</a>
    <a class="active" href="/index">Home</a>
</div><br>

<div style="vertical-align:top;font-size:20px">
    <div style="color:black; text-align:right;">
        <button style="background-color:green; height:73px; width:68px;"><h1 style="color:white">+</h1></button>   
        <button style="background-color:#C21807"><h1 style="color:white">CSJK Medico</h1></button>
        <button style="background-color:green; height:73px; width:68px;"><h1 style="color:white;">+</h1></button>
        <br>
        <marquee scrollamount="4" bgcolor="" direction="right" hspace="" height="70px" width="40%" behavior='alternate'>
        <pre><b>                     CHEMIST AND DRUGGIST</b></pre></marquee>
    </div>
</div>

<!-- --------------------------------------------- -->

<body style="background-color:#55d6c2">
    
    <marquee scrollamount="4" bgcolor="white" direction="up" hspace="500" behavior='slide' scrolldelay="">
    <h3><b><center>Add New Member</center></b></h3></marquee>

<br><br><br><br>
<fieldset style="background-color: white">
        <form action="/member_insert" method="post">
            <table border="1px">
                <tr>
                    <br>
                    <td>Member Name</td>
                    <td><input type="text" name="Member_Name" required></td>
                </tr>
                <tr>
                    <td>Book ID</td>
                    <!-- <td><input type="number" name="Book_id" required></td> -->
                    <td><input type="number" name="Book_id" value="{{bookId}}"></td>
                </tr>
                <tr>
                    <td>Fees</td>
                    <td><input type="number" step="0.01" name="Fees" required></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Save"></td>
                    <td><input type="reset" value="Refresh"></td>
                </tr>
            </table>
        </form>
    </fieldset>
</body>



</html>
