<html>
    <head>
        <title>www.csjk.medico.com</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/navv.css')}}">
    </head>

<!-- -------------------------------------------- -->

<div class="topnav">
  <a class="active" href="/">Logout</a>
  <a href="/all_drug_details">Entire Drugs Details</a>
  <a class="active" href="/index">Home</a> 
</div><br>


<div style="vertical-align:top;font-size:20px">
  <div style="color:black; text-align:right;">

      <button style="background-color:green; height:73px; width:68px;"><h1 style="color:white">+</h1></button>   

      <button style="background-color:#C21807"><h1 style="color:white">CSJK Medico</h1></button>


      <button style="background-color:green; height:73px; width:68px;"><h1 style="color:white;">+</h1></button>

      <br>
      <marquee scrollamount="4" bgcolor="#eff6fc" direction="right" hspace="" height="70px" width="40%" behavior='alternate'>
      <pre><b>                     CHEMIST AND DRUGGIST</b></pre></marquee>
            
  </div>
</div><br>

<!-- ------------------------------------------------------ -->


<body style="background-color: #eff6fc">
  <h1><b><pre>>>  This Drug is Available...&#128578</pre></b></h1>
  <br><br><br><br>
        
</body>


 <!-- <tr> -->
    <!-- <td>bool</td> -->
            <!-- <td> -->
            <!-- <select name="k"> -->
            <!-- <option value="select">select</option> -->
            <!-- <option value="as">as</option> -->
            <!-- <option value="gas">gas</option> -->
        <!-- </select> -->
        <!-- </td> -->
 <!-- </tr> -->




</html>